<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title> 简单的OCX控件调用</title>
</head>

<body>
<object  style="width:100px;height:200px"    id = "CDvsClient1" classid="clsid:{A8282968-ED9B-4B99-8E17-C4B2D435AA1F}" 
 onerror="Load Error!"> 
</object> 
说明：*先注册控件：regsev32  控件路径
      *classid="clsid:{A8282968-ED9B-4B99-8E17-C4B2D435AA1F}" 为 控件clsid   在注册表中搜索"OCX_img.ocx"得到（有版本信息的那个)
</body>
</html>