# logger.config

##########################################################
[loggers]
keys = root,trace,result

[logger_root]
level = DEBUG
handlers = streamHandler

[logger_trace]
level = DEBUG
handlers = traceHandler
qualname = result
propagate = 1

[logger_result]
level = INFO
handlers = resultHandler
qualname = result
propagate = 0


##########################################################
[handlers]
keys = streamHandler, traceHandler, resultHandler

[handler_streamHandler]
class = StreamHandler
level = INFO
formatter = formatterScreen
args = (sys.stderr,)

[handler_traceHandler]
class = FileHandler
level = DEBUG
formatter = formatterFiles
args = ('trace.log', 'a')

[handler_resultHandler]
class = FileHandler
level = WARNING
formatter = formatterFiles
args = ("result.log", 'a')


##########################################################
[formatters]
keys = formatterScreen, formatterFiles

[formatter_formatterScreen]
format = %(name)-12s: %(levelname)-8s %(message)s
datefmt = 

[formatter_formatterFiles]
format = %(asctime)s %(filename)s[line:%(lineno)d] [%(levelname)-8s] %(message)s
datefmt = 


