<div class="aw-item" uninterested_count="0" force_fold="0" id="answer_list_4">
	<div class="mod-head">
	<a class="anchor" name="answer_4"></a> 
	<!-- 用户头像 -->
	 
	<a class="aw-user-img aw-border-radius-5 pull-right" href="http://www.afucar.com/people/admin" data-id="1">
		<img src="http://www.afucar.com/static/common/avatar-mid-img.png" alt="" />
	</a> 
	<!-- end 用户头像 -->
	<div class="title">
		<p>
			<a class="aw-user-name" href="http://www.afucar.com/people/admin" data-id="1">admin</a>
		</p>
		<p class="text-color-999 aw-agree-by hide">赞同来自:</p>
	</div></div>
	<div class="mod-body clearfix">
		<!-- 评论内容 -->
		<div class="markitup-box">asdfasdf</div>
		<!-- end 评论内容 -->
	</div>
	<div class="mod-footer">
		<!-- 社交操作 -->
		<div class="meta clearfix">
		<span class="text-color-999 pull-right">1 秒前</span> 
		<!-- 投票栏 -->
		 
		<span class="operate">
			<a class="agree disabled"> 
				<b class="count">0</b>
			</a>
		</span> 
		<!-- end 投票栏 -->
		 
		<span class="operate">
			<a class="aw-add-comment" data-id="4" data-type="answer" data-comment-count="0" data-first-click="hide"
			href="javascript:;"> 
			<i class="icon icon-comment"></i> 
			0</a>
		</span> 
		<!-- 可显示/隐藏的操作box -->
		<div class="more-operate">
		<a class="text-color-999" href="javascript:;"
		onclick="AWS.dialog('commentEdit', {answer_id:4,attach_access_key:''});">编辑</a> 
		<a href="javascript:;" onclick="AWS.User.answer_force_fold($(this), 4);" class="text-color-999"> 折叠</a> 
		<a href="javascript:;" onclick="AWS.dialog('favorite', {item_id:4, item_type:'answer'});" class="text-color-999">
		收藏</a>
		<div class="btn-group pull-left">
			<a class="text-color-999 dropdown-toggle" data-toggle="dropdown">分享</a>
			<div aria-labelledby="dropdownMenu" role="menu" class="aw-dropdown shareout pull-right">
				<ul class="aw-dropdown-list">
					<li>
						<a onclick="AWS.User.share_out({webid: 'tsina', content: $(this).parents('.aw-item').find('.markitup-box').text()});">
						微博</a>
					</li>
					<li>
						<a onclick="AWS.User.share_out({webid: 'qzone', content: $(this).parents('.aw-item').find('.markitup-box').text()});">
						QZONE</a>
					</li>
					<li>
						<a onclick="AWS.User.share_out({webid: 'weixin', content: $(this).parents('.aw-item').find('.markitup-box').text()});">
						微信</a>
					</li>
				</ul>
			</div>
		</div>
		<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/question/ajax/set_best_answer/', 'answer_id=4');"
		class="text-color-999">最佳回复</a></div>
		<!-- end 可显示/隐藏的操作box --></div>
		<!-- end 社交操作 -->
	</div>
</div>

