					<li>
                        <div class = "vote midcol unvoted">
                            <i class="arrow up {% if not current_user %} ajaxlogin " {% else %} "  onclick="AUTO.agree_vote(this, 'hi', {{link.id}});"  {% end %}></i>                             
                            <div class="score likes">{{link.likecount - link.dislikecount + 1}} </div>
                            <div class="score unvoted">{{link.likecount - link.dislikecount}}</div>
                            <div class="score dislikes">{{link.likecount - link.dislikecount - 1}} </div>
                            <i class="arrow down {% if not current_user %} ajaxlogin " {% else %} "  onclick="AUTO.agree_vote(this, 'hi', {{link.id}});"  {% end %}></i> 
                        </div>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">搞笑系列</a>]<a href="{{link.url}}" target="_blank">{{ link.title }}</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="{{link.url}}">hello</a>&nbsp;发表于&nbsp;{{get_time_format(link.add_time)}}
                                    </span> &nbsp;&nbsp;
                                <span>{{link.readcount}}&nbsp;阅读</span>                               
                            </div>
                        </div>
                    </li>