<!DOCTYPE html>
<html>
    <head>
		<link href="{{ static_url("css/au1.css") }}"  rel="stylesheet">
    </head>
    <body class = "loggedin">
        <div class="thing id-t1_d7riys8 noncollapsed comment score-hidden" id="thing_t1_d7riys8" onclick="click_thing(this)"
        data-fullname="t1_d7riys8" data-type="comment" data-subreddit="Showerthoughts" data-subreddit-fullname="t5_2szyo"
        data-author="mario0318" data-author-fullname="t2_6e32m">
            <p class="parent">
                <a name="d7riys8"></a>
            </p>           
            <div class="entry ">
                <p class="tagline">               
					<a href="https://www.reddit.com/user/mario0318" class="author may-blank id-t2_6e32m">mario0318</a> 
					<time title="Sun Sep 18 07:02:46 2016 UTC" datetime="2016-09-18T07:02:46+00:00" class="live-timestamp">29 minutes
					ago</time>
				</p>
                <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')"
                id="form-t1_d7riys8d9s">
                    <input type="hidden" name="thing_id" value="t1_d7riys8" />
                    <div class="usertext-body may-blank-within md-container">
                        <div class="md">
                            <p>That good ol' taskbar right-click</p>
                        </div>
                    </div>
                </form>
                <ul class="flat-list buttons"> 
                    <li class="report-button">
                        <a href="javascript:void(0)" class="reportbtn " data-event-action="report">檢舉</a>
                    </li>                    
                    <li class="reply-button">
                        <a class="access-required" href="javascript:void(0)" data-event-action="comment"
                        onclick="return reply(this)">回覆</a>
                    </li>
                </ul>
                <div class="reportform report-t1_d7riys8"></div>
            </div>
            <div class="child">
			
				<!-- /////////////////////////////////////////////// -->
					<div class="thing id-t1_d7riys8 noncollapsed comment score-hidden" id="thing_t1_d7riys8" onclick="click_thing(this)"
        data-fullname="t1_d7riys8" data-type="comment" data-subreddit="Showerthoughts" data-subreddit-fullname="t5_2szyo"
        data-author="mario0318" data-author-fullname="t2_6e32m">
            <p class="parent">
                <a name="d7riys8"></a>
            </p>
           
            <div class="entry ">
                <p class="tagline">
               
					<a href="https://www.reddit.com/user/mario0318" class="author may-blank id-t2_6e32m">mario0318</a> 
					
					
					<time title="Sun Sep 18 07:02:46 2016 UTC" datetime="2016-09-18T07:02:46+00:00" class="live-timestamp">29 minutes
					ago</time>
				</p>
                <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')"
                id="form-t1_d7riys8d9s">
                    <input type="hidden" name="thing_id" value="t1_d7riys8" />
                    <div class="usertext-body may-blank-within md-container">
                        <div class="md">
                            <p>That good ol' taskbar right-click</p>
                        </div>
                    </div>
                </form>
                <ul class="flat-list buttons">
                                       
                   
                    <li class="report-button">
                        <a href="javascript:void(0)" class="reportbtn " data-event-action="report">檢舉</a>
                    </li>
                    
                    <li class="reply-button">
                        <a class="access-required" href="javascript:void(0)" data-event-action="comment"
                        onclick="return reply(this)">回覆</a>
                    </li>
                </ul>
                <div class="reportform report-t1_d7riys8"></div>
            </div>
            <div class="child"></div>
            <div class="clearleft"></div>
			
        </div>
				
				<!-- /////////////////////////////////////////////// -->
			
			</div>
            <div class="clearleft"></div>
			<div class="clearleft"></div>
        </div>
		
		
		<!-- /////////////////////////////////////////////// -->
		
		
		<div class="thing id-t1_d7riys8 noncollapsed comment score-hidden" id="thing_t1_d7riys8" onclick="click_thing(this)"
        data-fullname="t1_d7riys8" data-type="comment" data-subreddit="Showerthoughts" data-subreddit-fullname="t5_2szyo"
        data-author="mario0318" data-author-fullname="t2_6e32m">
            <p class="parent">
                <a name="d7riys8"></a>
            </p>
           
            <div class="entry ">
                <p class="tagline">
               
					<a href="https://www.reddit.com/user/mario0318" class="author may-blank id-t2_6e32m">mario0318</a> 
					
					
					<time title="Sun Sep 18 07:02:46 2016 UTC" datetime="2016-09-18T07:02:46+00:00" class="live-timestamp">29 minutes
					ago</time>
				</p>
                <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')"
                id="form-t1_d7riys8d9s">
                    <input type="hidden" name="thing_id" value="t1_d7riys8" />
                    <div class="usertext-body may-blank-within md-container">
                        <div class="md">
                            <p>That good ol' taskbar right-click</p>
                        </div>
                    </div>
                </form>
                <ul class="flat-list buttons">
                                       
                   
                    <li class="report-button">
                        <a href="javascript:void(0)" class="reportbtn " data-event-action="report">檢舉</a>
                    </li>
                    
                    <li class="reply-button">
                        <a class="access-required" href="javascript:void(0)" data-event-action="comment"
                        onclick="return reply(this)">回覆</a>
                    </li>
                </ul>
                <div class="reportform report-t1_d7riys8"></div>
            </div>
            <div class="child">
			
				<form action="#" class="usertext cloneable warn-on-unload" onsubmit="return post_form(this, 'comment')"
				id="commentreply_t1_d7wco6o" style="">
					<input type="hidden" name="thing_id" value="t1_d7wco6o" />
					<div class="usertext-edit md-container" style="width: 500px;">
						<div class="md">
							<textarea rows="1" cols="1" name="text" class="" data-event-action="comment" data-type="link"
							style="width: 500px; height: 100px;"></textarea>
						</div>
						<div class="bottom-area">
							<span class="help-toggle toggle" style="">
								<a class="option active" href="#" tabindex="100"
								onclick="return toggle(this, helpon, helpoff)">格式說明</a>
								<a class="option" href="#">隱藏說明</a>
							</span>
							<a href="/help/contentpolicy" class="reddiquette" target="_blank" tabindex="100">content policy</a>
							<div class="usertext-buttons">
								<button type="submit" onclick="" class="save">save</button>
								<button type="button" onclick="return cancel_usertext(this);" class="cancel" style="">cancel</button>
							</div>
						</div>
					</div>
				</form>
			
			</div>
			
			
            <div class="clearleft"></div>
			
        </div>
		
		
		
    </body>
</html>
