<!DOCTYPE HTML>
<html>

<head>
    <title>分享 . 快乐</title>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="search" type="application/opensearchdescription+xml" href="/news/opensearchnews.xml" title="OpenNews" />
    <meta name="description" content="" />
    <meta name="Robots" content="All" />
    
    
<script type='text/javascript' src='http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js'></script>
    <script type='text/javascript' src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
    <script type='text/javascript' src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>
    <script type='text/javascript' src='http://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <script type='text/javascript' src="{{ static_url("js/bootstraped-login.js") }}"></script>    
    <script type='text/javascript' src="{{ static_url("js/auto.js") }}" ></script>


    <link href='http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.css' rel='stylesheet'>
    <link href="{{ static_url("css/bootstraped-login.css") }}" rel='stylesheet'>
    <link href="{{ static_url("css/styles.css") }}"  rel="stylesheet">
    <link href="{{ static_url("css/auto.css") }}"  rel="stylesheet">
    <link href="{{ static_url("css/base.css") }}"  rel="stylesheet">
   
    <link rel="shortcut icon" href="{{ static_url("icons/favicon.ico") }}"  class="logo-icon" type="image/x-icon" />


    <script type='text/javascript'>
    /* <![CDATA[ */
    var ajaxlogin = {
        "validate_required": "必填字段",
        "username_required": "用户名不能为空",
        "validate_email": "必须输入正确格式的电子邮件",
        "validate_equalTo": "两次输入的密码不一致",
        "validate_minlength": "至少输入 {0} 个字符",
        "validate_alphanumeric": "至少输入 {0} 个字符",
        "checking_email": "正在发送邮件",
        "sending_info": "正在登录...",
        "login_successfull": "登录成功, 跳转...",
        "login_error": "用户名或密码错误",
        "validate_username": "用户名已被占用",
        "ajaxurl": "/account/login",
        "register_url": "/account/signup",
        "login_nonce": "cea66ba2f2"
    };
    /* ]]> */
    </script>
    
    <style type="text/css">
    .postbody ul li {
        list-style-type: disc;
    }
    
    .list li {
        background: #fff none repeat scroll 0 0;
        border-bottom: medium none;
        margin-bottom: 15px;
        padding: 20px;
    }
    </style>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4b19e5cc155fe555484434d8338ee0af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
    {% block head %}{% end %}
</head>

<body>

  
    


    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body ">
                    <div class="loginajax">
                        <form id="lostpasswordform" method="post">
                            <h4>Forgotten password</h4>
                            <input type="hidden" name="action" value="tg_pwd_reset" />
                            <input type="hidden" id="security-pwd" name="security-pwd" value="d64d7c281b" />
                            <input type="hidden" name="_wp_http_referer" value="/" />
                            <div class="form-group">
                                <div id="passstatus"></div>
                                <div>
                                    <input type="text" name="email" placeholder="Email" class="form-control required email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Reset Password" />
                                </div>
                            </div>
                        </form>
                        <form id="signupform" action="" method="post">
                            <h4>加入阿福</h4>
                            <div class="form-group">
                                <div id="signupstatus"></div>
                                <div>
                                    <input type="text" name="username" placeholder="用户名" class="username form-control required alphanumeric" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="text" name="email" placeholder="Email" class="form-control required email " />
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="password" name="password" placeholder="密码" id="password" class="password form-control required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="password" name="password2" placeholder="确认密码" id="password2" class="form-control required" />
                                </div>
                            </div>
                            <input type="hidden" id="security-signup" name="security-signup" value="47c02be7f6" />
                            <input type="hidden" name="_wp_http_referer" value="/" />
                            <div class="form-group">
                                <div>
                                    <input type="submit" name="submit" class="btn btn-primary btn-lg" value="注册" />
                                </div>
                            </div>
                        </form>
                        <form class="ajaxloginform" id="loginform" method="post">
                            <h4>登录阿福</h4>
                            <div class="form-group">
                                <div class="loginstatus"></div>
                                <div>
                                    <input type="text" name="username" placeholder="用户名或者邮箱" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="password" name="password" placeholder="密码" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input class="btn btn-primary btn-lg" type="submit" value="登录" name="submit">
                                </div>
                            </div>
                            <input type="hidden" id="ajaxloginref" name="ajaxloginref" value="ec5650598c" />
                            <input type="hidden" name="_wp_http_referer" value="/" />
                            <div class="form-group">
                                <div>
                                    <hr>
                                    <a href="/lostpassword" class="ajaxlostpassword">Forgotten password</a>
                                    <hr>
                                    <a href="/signup" class="ajaxsignup">signup
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   {% block body %}{% end %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-4" style="line-height: 60px;">
                    <span>&copy;2006-2016 阿福汽车 </span>
                </div>
                <div class="col-md-4 col-xs-4 text-center"><span>
                <a rel="nofollow" href="http://www.afucar.com/" ><img src="{{ static_url("icons/afu.png") }}"  class="logo-icon" ></a>
            </span></div>
                <div class="col-md-4 col-xs-4" style="line-height: 60px;">
                    <a target="_blank" href="http://www.miibeian.gov.cn/"></a>
                    <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1257892335'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257892335' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>