<!DOCTYPE HTML>
<html>

<head>
    <title>Bootstrap 资讯列表 - OPEN资讯</title>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="search" type="application/opensearchdescription+xml" href="/news/opensearchnews.xml" title="OpenNews" />
    <meta name="description" content="" />
    <meta name="Robots" content="All" />
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://www.open-open.com/resource/styles.css" rel="stylesheet">
    <style type="text/css">
    .postbody ul li {
        list-style-type: disc;
    }
    
    .list li {
        background: #fff none repeat scroll 0 0;
        border-bottom: medium none;
        margin-bottom: 15px;
        padding: 20px;
    }
    </style>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4b19e5cc155fe555484434d8338ee0af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
    {% block head %}{% end %}
</head>

<body>
    {% block body %}{% end %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-4" style="line-height: 60px;">
                    <span>&copy;2006-2016 深度开源 </span>
                </div>
                <div class="col-md-4 col-xs-4 text-center"><span>
                <a rel="nofollow" href="http://www.open-open.com/" class="brightbox-logo"><img src="http://www.open-open.com/resource/logo-icon.png"  ></a>
            </span></div>
                <div class="col-md-4 col-xs-4" style="line-height: 60px;">
                    <a target="_blank" href="http://www.miibeian.gov.cn/">浙ICP备09019653号-31</a>
                    <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1257892335'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257892335' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>