{% extends "../base.html" %} {% block head %}
<link href="{{ static_url("css/au1.css") }}" rel="stylesheet" type="text/css" /> {% end %} {% block body %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 link " id="readercontainer">
                <ul class="list">
                    {% module LinkModule(link, get_time_format) %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class=" thing id-t1_d75b0v2 noncollapsed   comment " id="thing_t1_d75b0v2" onclick="click_thing(this)" data-fullname="t1_d75b0v2" data-type="comment" data-subreddit="gifs" data-subreddit-fullname="t5_2qt55" data-author="soomuchcoffee" data-author-fullname="t2_c3ori">
    <p class="parent">
        <a name="d75b0v2"></a>
    </p>
    <div class="midcol unvoted">
        <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="推" tabindex="0"></div>
        <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="噓" tabindex="0"></div>
    </div>
    <div class="entry unvoted">
        <p class="tagline"><a href="javascript:void(0)" class="expand" onclick="return togglecomment(this)">[–]</a><a href="https://www.reddit.com/user/soomuchcoffee" class="author may-blank id-t2_c3ori">soomuchcoffee</a><span class="userattrs"></span> <span class="score dislikes">6 指標</span><span class="score unvoted">7 指標</span><span class="score likes">8 指標</span>
            <time title="Thu Sep 1 12:50:07 2016 UTC" datetime="2016-09-01T12:50:07+00:00" class="live-timestamp">2小時前</time>&nbsp;<a href="javascript:void(0)" class="numchildren" onclick="return togglecomment(this)">(3 下層留言)</a></p>
        <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')" id="form-t1_d75b0v2yl3">
            <input type="hidden" name="thing_id" value="t1_d75b0v2">
            <div class="usertext-body may-blank-within md-container ">
                <div class="md">
                    <p>Get the paddy wagon!</p>
                </div>
            </div>
        </form>
        <ul class="flat-list buttons">
            <li class="first"><a href="https://www.reddit.com/r/gifs/comments/50mp5d/fuck_da_police/d75b0v2" data-event-action="permalink" class="bylink" rel="nofollow">永久連結</a></li>
            <li><a href="javascript:void(0)" data-comment="/r/gifs/comments/50mp5d/fuck_da_police/d75b0v2" data-media="www.redditmedia.com" data-link="/r/gifs/comments/50mp5d/fuck_da_police/" data-root="true" data-title="&quot;fuck da police&quot;" class="embed-comment">embed</a></li>
            <li class="comment-save-button save-button"><a href="javascript:void(0)">儲存</a></li>
            <li class="report-button"><a href="javascript:void(0)" class="reportbtn access-required" data-event-action="report">檢舉</a></li>
            <li class="give-gold-button"><a href="/gold?goldtype=gift&amp;months=1&amp;thing=t1_d75b0v2" title="give reddit gold in appreciation of this post." class="give-gold login-required access-required" data-event-action="gild">贈送金幣</a></li>
            <li class="reply-button"><a class="access-required" href="javascript:void(0)" data-event-action="comment" onclick="return reply(this)">回覆</a></li>
        </ul>
        <div class="reportform report-t1_d75b0v2"></div>
    </div>
    <div class="child">
        <div id="siteTable_t1_d75b0v2" class="sitetable listing">
            <div class="thing id-t1_d75dyt5   comment score-hidden noncollapsed" id="thing_t1_d75dyt5" onclick="click_thing(this)" data-fullname="t1_d75dyt5" data-type="comment" data-subreddit="gifs" data-subreddit-fullname="t5_2qt55" data-author="gspleen" data-author-fullname="t2_4po9j">
                <p class="parent">
                    <a name="d75dyt5"></a>
                </p>
                <div class="midcol unvoted">
                    <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="推" tabindex="0"></div>
                    <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="噓" tabindex="0"></div>
                </div>
                <div class="entry unvoted">
                    <p class="tagline"><a href="javascript:void(0)" class="expand" onclick="return togglecomment(this)">[–]</a><a href="https://www.reddit.com/user/gspleen" class="author may-blank id-t2_4po9j">gspleen</a><span class="userattrs"></span> <span class="score-hidden" title="本看板將留言分數隱藏 100 分鐘">[分數隱藏]</span>
                        <time title="Thu Sep 1 14:10:08 2016 UTC" datetime="2016-09-01T14:10:08+00:00" class="live-timestamp">1小時前</time>&nbsp;<a href="javascript:void(0)" class="numchildren" onclick="return togglecomment(this)">(1 下層留言)</a></p>
                    <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')" id="form-t1_d75dyt58rj">
                        <input type="hidden" name="thing_id" value="t1_d75dyt5">
                        <div class="usertext-body may-blank-within md-container ">
                            <div class="md">
                                <p>A sea of drunk children. </p>
                            </div>
                        </div>
                    </form>
                    <ul class="flat-list buttons">
                        <li class="first"><a href="https://www.reddit.com/r/gifs/comments/50mp5d/fuck_da_police/d75dyt5" data-event-action="permalink" class="bylink" rel="nofollow">永久連結</a></li>
                        <li><a href="javascript:void(0)" data-comment="/r/gifs/comments/50mp5d/fuck_da_police/d75dyt5" data-media="www.redditmedia.com" data-link="/r/gifs/comments/50mp5d/fuck_da_police/" data-root="false" data-title="&quot;fuck da police&quot;" class="embed-comment">embed</a></li>
                        <li class="comment-save-button save-button"><a href="javascript:void(0)">儲存</a></li>
                        <li><a href="#d75b0v2" data-event-action="parent" class="bylink" rel="nofollow">上層留言</a></li>
                        <li class="report-button"><a href="javascript:void(0)" class="reportbtn access-required" data-event-action="report">檢舉</a></li>
                        <li class="give-gold-button"><a href="/gold?goldtype=gift&amp;months=1&amp;thing=t1_d75dyt5" title="give reddit gold in appreciation of this post." class="give-gold login-required access-required" data-event-action="gild">贈送金幣</a></li>
                        <li class="reply-button"><a class="access-required" href="javascript:void(0)" data-event-action="comment" onclick="return reply(this)">回覆</a></li>
                    </ul>
                    <div class="reportform report-t1_d75dyt5"></div>
                </div>
                <div class="child">
                    <div id="siteTable_t1_d75dyt5" class="sitetable listing">
                        <div class=" thing id-t1_d75dzrm noncollapsed   comment score-hidden " id="thing_t1_d75dzrm" onclick="click_thing(this)" data-fullname="t1_d75dzrm" data-type="comment" data-subreddit="gifs" data-subreddit-fullname="t5_2qt55" data-author="soomuchcoffee" data-author-fullname="t2_c3ori">
                            <p class="parent">
                                <a name="d75dzrm"></a>
                            </p>
                            <div class="midcol unvoted">
                                <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="推" tabindex="0"></div>
                                <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="噓" tabindex="0"></div>
                            </div>
                            <div class="entry unvoted">
                                <p class="tagline"><a href="javascript:void(0)" class="expand" onclick="return togglecomment(this)">[–]</a><a href="https://www.reddit.com/user/soomuchcoffee" class="author may-blank id-t2_c3ori">soomuchcoffee</a><span class="userattrs"></span> <span class="score-hidden" title="本看板將留言分數隱藏 100 分鐘">[分數隱藏]</span>
                                    <time title="Thu Sep 1 14:10:45 2016 UTC" datetime="2016-09-01T14:10:45+00:00" class="live-timestamp">1小時前</time>&nbsp;<a href="javascript:void(0)" class="numchildren" onclick="return togglecomment(this)">(0 下層留言)</a></p>
                                <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')" id="form-t1_d75dzrmdrr">
                                    <input type="hidden" name="thing_id" value="t1_d75dzrm">
                                    <div class="usertext-body may-blank-within md-container ">
                                        <div class="md">
                                            <p>They were like dogs without horses!</p>
                                        </div>
                                    </div>
                                </form>
                                <ul class="flat-list buttons">
                                    <li class="first"><a href="https://www.reddit.com/r/gifs/comments/50mp5d/fuck_da_police/d75dzrm" data-event-action="permalink" class="bylink" rel="nofollow">永久連結</a></li>
                                    <li><a href="javascript:void(0)" data-comment="/r/gifs/comments/50mp5d/fuck_da_police/d75dzrm" data-media="www.redditmedia.com" data-link="/r/gifs/comments/50mp5d/fuck_da_police/" data-root="false" data-title="&quot;fuck da police&quot;" class="embed-comment">embed</a></li>
                                    <li class="comment-save-button save-button"><a href="javascript:void(0)">儲存</a></li>
                                    <li><a href="#d75dyt5" data-event-action="parent" class="bylink" rel="nofollow">上層留言</a></li>
                                    <li class="report-button"><a href="javascript:void(0)" class="reportbtn access-required" data-event-action="report">檢舉</a></li>
                                    <li class="give-gold-button"><a href="/gold?goldtype=gift&amp;months=1&amp;thing=t1_d75dzrm" title="give reddit gold in appreciation of this post." class="give-gold login-required access-required" data-event-action="gild">贈送金幣</a></li>
                                    <li class="reply-button"><a class="access-required" href="javascript:void(0)" data-event-action="comment" onclick="return reply(this)">回覆</a></li>
                                </ul>
                                <div class="reportform report-t1_d75dzrm"></div>
                            </div>
                            <div class="child"></div>
                            <div class="clearleft"></div>
                        </div>
                        <div class="clearleft"></div>
                    </div>
                </div>
                <div class="clearleft"></div>
            </div>
            <div class="clearleft"></div>
            <div class=" thing id-t1_d75e4s1 noncollapsed   comment score-hidden " id="thing_t1_d75e4s1" onclick="click_thing(this)" data-fullname="t1_d75e4s1" data-type="comment" data-subreddit="gifs" data-subreddit-fullname="t5_2qt55" data-author="hdhova" data-author-fullname="t2_d42n6">
                <p class="parent">
                    <a name="d75e4s1"></a>
                </p>
                <div class="midcol unvoted">
                    <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="推" tabindex="0"></div>
                    <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="噓" tabindex="0"></div>
                </div>
                <div class="entry unvoted">
                    <p class="tagline"><a href="javascript:void(0)" class="expand" onclick="return togglecomment(this)">[–]</a><a href="https://www.reddit.com/user/hdhova" class="author may-blank id-t2_d42n6">hdhova</a><span class="userattrs"></span> <span class="score-hidden" title="本看板將留言分數隱藏 100 分鐘">[分數隱藏]</span>
                        <time title="Thu Sep 1 14:14:09 2016 UTC" datetime="2016-09-01T14:14:09+00:00" class="live-timestamp">1小時前</time>&nbsp;<a href="javascript:void(0)" class="numchildren" onclick="return togglecomment(this)">(0 下層留言)</a></p>
                    <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')" id="form-t1_d75e4s14is">
                        <input type="hidden" name="thing_id" value="t1_d75e4s1">
                        <div class="usertext-body may-blank-within md-container ">
                            <div class="md">
                                <p>Pedi wagon. Ftfy </p>
                            </div>
                        </div>
                    </form>
                    <ul class="flat-list buttons">
                        <li class="first"><a href="https://www.reddit.com/r/gifs/comments/50mp5d/fuck_da_police/d75e4s1" data-event-action="permalink" class="bylink" rel="nofollow">永久連結</a></li>
                        <li><a href="javascript:void(0)" data-comment="/r/gifs/comments/50mp5d/fuck_da_police/d75e4s1" data-media="www.redditmedia.com" data-link="/r/gifs/comments/50mp5d/fuck_da_police/" data-root="false" data-title="&quot;fuck da police&quot;" class="embed-comment">embed</a></li>
                        <li class="comment-save-button save-button"><a href="javascript:void(0)">儲存</a></li>
                        <li><a href="#d75b0v2" data-event-action="parent" class="bylink" rel="nofollow">上層留言</a></li>
                        <li class="report-button"><a href="javascript:void(0)" class="reportbtn access-required" data-event-action="report">檢舉</a></li>
                        <li class="give-gold-button"><a href="/gold?goldtype=gift&amp;months=1&amp;thing=t1_d75e4s1" title="give reddit gold in appreciation of this post." class="give-gold login-required access-required" data-event-action="gild">贈送金幣</a></li>
                        <li class="reply-button"><a class="access-required" href="javascript:void(0)" data-event-action="comment" onclick="return reply(this)">回覆</a></li>
                    </ul>
                    <div class="reportform report-t1_d75e4s1"></div>
                </div>
                <div class="child"></div>
                <div class="clearleft"></div>
            </div>
            <div class="clearleft"></div>
        </div>
    </div>
    <div class="clearleft"></div>
</div>
{% end %}