{% extends "../base.html" %} 
{% block body %}


    <header class="site-header">
        <div class="header-top ">
            <div class="header-top-inner">
                <div class="" style="margin: 0 30px;">
                    <div class="row">
                        <div class="header-top-left col-lg-6 col-md-6 col-sm-6 col-xs-12 v-grid">
                            <div class="header-talet">
                                <a href="http://www.open-open.com/">首页</a> &nbsp;
                                <a class="" href="http://www.open-open.com/code/">代码</a> &nbsp;
                                <a class="" href="http://www.open-open.com/doc/">文档</a> &nbsp;
                                <a title='OPEN论坛频道' href="http://www.open-open.com/solution">问答</a> &nbsp;
                                <a title="OPEN资讯" class="active" href="http://www.open-open.com/news/">资讯</a> &nbsp;
                                <a title="OPEN经验库" class="" href="http://www.open-open.com/lib/">经验</a> &nbsp;
                                <a title="GitHub日报" class="" href="http://www.open-open.com/github/">GitHub日报</a> &nbsp;
                            </div>
                        </div>
                        <div class="header-top-right col-lg-6 col-md-6 col-sm-6 col-xs-12 v-grid">
                            <div class="user-info pull-right" id="Personal">
                                <a href='/news/members/register'>注册</a> | <a href='/news/members/login'>登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-md-9" id="readercontainer">
                <ul class="list">
                    <li>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/87cc00" target="_blank">2016年 20+ 个最好的免费 Bootstrap HTML5 模板</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=1"></a>&nbsp;发表于&nbsp;2 个月 前
                                    </span>
                                <span>1&nbsp;收藏</span> &nbsp;&nbsp;
                                <span>4273&nbsp;阅读</span>
                                <a id="xvotes-0" href="javascript:vote(0,'87cc00',0,'3d13b74fca70869119ab37ab92380399',10)">1</a>
                                <a href="javascript:vote(0,'87cc00',0,'3d13b74fca70869119ab37ab92380399',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> 2016年 20+ 个最好的免费 Bootstrap HTML5 模板</p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap" class="tag">Bootstrap</a>
                                <a href="/news/tags/HTML5" class="tag">HTML5</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/2b2303" target="_blank">Bootstrap 4.0.0-alpha.2 发布</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;5 个月 前
                                    </span> &nbsp;&nbsp;
                                <span>651&nbsp;阅读</span>
                                <a id="xvotes-1" href="javascript:vote(0,'2b2303',1,'e4126ccfa10b5f6dff004338c059ffcf',10)">1</a>
                                <a href="javascript:vote(0,'2b2303',1,'e4126ccfa10b5f6dff004338c059ffcf',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> Bootstrap是快速开发Web应用程序的前端工具包。它是一个CSS和HTML的集合，它使用了最新的浏览器技术，给你的Web开发提供了时尚的版式，表单，buttons，表格，网格系统等等。
                            </p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap " class="tag">Bootstrap </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/90031b" target="_blank">Bootstrap 3.3.6 发布，Web 前端 UI 框架</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;5 个月 前
                                    </span> &nbsp;&nbsp;
                                <span>703&nbsp;阅读</span>
                                <a id="xvotes-2" href="javascript:vote(0,'90031b',2,'83d8de5259c1e8a289d721b58112266e',10)">1</a>
                                <a href="javascript:vote(0,'90031b',2,'83d8de5259c1e8a289d721b58112266e',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> Bootstrap是快速开发Web应用程序的前端工具包。它是一个CSS和HTML的集合，它使用了最新的浏览器技术，给你的Web开发提供了时尚的版式，表单，buttons，表格，网格系统等等。
                            </p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap " class="tag">Bootstrap </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <a href="/news/view/fdc087" target="_blank">
                                <img width="200" height="150" alt="30 个免费的 Bootstrap HTML5 响应式模板" class="newsimg" id="imgfix_b" src="http://static.open-open.com/news/uploadImg/20151104/20151104213623_629.jpg" />
                            </a>
                        </div>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/fdc087" target="_blank">30 个免费的 Bootstrap HTML5 响应式模板</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=495781"></a>&nbsp;发表于&nbsp;6 个月 前
                                    </span> &nbsp;&nbsp;
                                <span>1072&nbsp;阅读</span>
                                <a id="xvotes-3" href="javascript:vote(0,'fdc087',3,'0c6f35ebe7211f8272578673f2c83e57',10)">1</a>
                                <a href="javascript:vote(0,'fdc087',3,'0c6f35ebe7211f8272578673f2c83e57',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> 30 个免费的 Bootstrap HTML5 响应式模板</p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap" class="tag">Bootstrap</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <a href="/news/view/f46954" target="_blank">
                                <img width="200" height="150" alt="10个最好的 Bootstrap 前端替代项目" class="newsimg" id="imgfix_b" src="http://static.open-open.com/news/uploadImg/20151022/20151022092541_596.jpg" />
                            </a>
                        </div>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/f46954" target="_blank">10个最好的 Bootstrap 前端替代项目</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;7 个月 前
                                    </span>
                                <span>1&nbsp;收藏</span> &nbsp;&nbsp;
                                <span>1088&nbsp;阅读</span>
                                <a id="xvotes-4" href="javascript:vote(0,'f46954',4,'ecd0a5373059cf701f90f88de267a0d8',10)">2</a>
                                <a href="javascript:vote(0,'f46954',4,'ecd0a5373059cf701f90f88de267a0d8',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> 10个最好的 Bootstrap 前端替代项目</p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap 魂不守舍" class="tag">Bootstrap 魂不守舍</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/15fb74a" target="_blank">一款美丽的Admin后台界面HTML模板源码 Light Bootstrap Dashboard</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;7 个月 前
                                    </span>
                                <span>1&nbsp;收藏</span> &nbsp;&nbsp;
                                <span>2022&nbsp;阅读</span>
                                <a id="xvotes-5" href="javascript:vote(0,'15fb74a',5,'f00f9c81ed718285086bb5c128095664',10)">1</a>
                                <a href="javascript:vote(0,'15fb74a',5,'f00f9c81ed718285086bb5c128095664',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> 今天为大家推荐的素材是一款admin系统后台网站模板： Light Bootstrap Dashboard，这套后台源码界面十分好看，这也是小编为何推荐的原因之一。
                            </p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap" class="tag">Bootstrap</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/6ed3d4" target="_blank">来自美国政府的Web设计标准，不建议使用Bootstrap</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;7 个月 前
                                    </span>
                                <span>1&nbsp;收藏</span> &nbsp;&nbsp;
                                <span>1746&nbsp;阅读</span>
                                <a id="xvotes-6" href="javascript:vote(0,'6ed3d4',6,'d2f928597b2810da914ec8fbe7edd350',10)">1</a>
                                <a href="javascript:vote(0,'6ed3d4',6,'d2f928597b2810da914ec8fbe7edd350',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> 近日，美国政府内部核心数据机构之一 18F 在官方网站上 发布 了一份 Web设计标准 。该标准由18F和 美国数字化服务 （USDS）共同制定和维护，包含一个开源UI组件库和一份面向美国联邦政府网站的视觉风格指南，目标是为创建简单、易用、美观的政府网站提供指导。</p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap" class="tag">Bootstrap</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <a href="/news/view/2be78b" target="_blank">
                                <img width="200" height="150" alt="10 个可以替代Bootstrap的前端框架" class="newsimg" id="imgfix_b" src="http://static.open-open.com/news/uploadImg/20150921/20150921100229_445.jpg" />
                            </a>
                        </div>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/2be78b" target="_blank">10个可以替代Bootstrap的前端框架</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;8 个月 前
                                    </span> &nbsp;&nbsp;
                                <span>924&nbsp;阅读</span>
                                <a id="xvotes-7" href="javascript:vote(0,'2be78b',7,'0478f05ca4dae53c79a243be36e147bd',10)">1</a>
                                <a href="javascript:vote(0,'2be78b',7,'0478f05ca4dae53c79a243be36e147bd',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> Bootstrap 是最受前端开发者欢迎的框架之一，虽然它的功能很强大，但是如果是做一些小型网站的话，会有很多用不到的功能，这时可以用一些其他框架来替代 Bootstrap。现在有很多的前段框架，这里为你整理了10个最佳的可以替代Bootstrap的框架，你在建立简单的、小规模的网站的时候可以考虑 使用这些框架。
                            </p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap" class="tag">Bootstrap</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/a50bbe" target="_blank">8个强大的基于Bootstrap的CSS框架</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;8 个月 前
                                    </span> &nbsp;&nbsp;
                                <span>1202&nbsp;阅读</span>
                                <a id="xvotes-8" href="javascript:vote(0,'a50bbe',8,'91367ee66b9a1bc58194d477f25a8199',10)">1</a>
                                <a href="javascript:vote(0,'a50bbe',8,'91367ee66b9a1bc58194d477f25a8199',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> 做过前端开发的小伙伴们应该对Bootstrap不 会陌生，它是由Twitter推出的开源CSS框架，其中包含了很多Web前端开发的工具包和应用组件。当然，和jQuery一样，Bootstrap同 时也是一个开放式的CSS框架，基于Bootstrap，我们也可以做许多不错的CSS UI组件。本文就介绍了8个强大的基于Bootstrap的CSS框架，一起来看看。
                            </p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap" class="tag">Bootstrap</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cont">
                            <h3>[<a href="/news/category/5" class="category">前端技术</a>]<a href="/news/view/fc949" target="_blank">Bootstrap 4 alpha 发布</a></h3>
                            <div class="info">
                                <span class="author">
                                         <a href="/news/user/profile?uid=37924"></a>&nbsp;发表于&nbsp;9 个月 前
                                    </span> &nbsp;&nbsp;
                                <span>1441&nbsp;阅读</span>
                                <a id="xvotes-9" href="javascript:vote(0,'fc949',9,'d4ea7f9d73b6eba6da0550623ad8e9b0',10)">1</a>
                                <a href="javascript:vote(0,'fc949',9,'d4ea7f9d73b6eba6da0550623ad8e9b0',10)">
									  赞
								</a>
                            </div>
                            <p class="intro"> Bootstrap 4 alpha 发布，今天真是特别的日子，不仅仅是 Go 1.5 正式发布了，Bootstrap 4 周岁生日，同时还发布了 Bootstrap 4 的第一个 Alpha 版本。
                            </p>
                            <div class="tag">
                                <i aria-hidden="true" class="fa fa-tags"></i>
                                <a href="/news/tags/Bootstrap" class="tag">Bootstrap</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="pagination">
                    <p><span class='pagescurrent'>1</span><a href='/news/tags/Bootstrap?pn=1' class=1s>2</a> <a href='/news/tags/Bootstrap?pn=2' class=2s>3</a> <a href='/news/tags/Bootstrap?pn=3' class=3s>4</a> <a href='/news/tags/Bootstrap?pn=4' class=4s>5</a> <a href='/news/tags/Bootstrap?pn=5' class=5s>6</a> <a href='/news/tags/Bootstrap?pn=6' class=6s>7</a> <a href='/news/tags/Bootstrap?pn=7' class=7s>8</a> <a href='/news/tags/Bootstrap?pn=8' class=8s>9</a> <a href='/news/tags/Bootstrap?pn=9' class=9s>10</a> <a href='/news/tags/Bootstrap?pn=1'>[下一页]</a> <a href='/news/tags/Bootstrap?pn=10'>[尾页]</a> </p>
                </div>
            </div>
            <div class="col-md-3">
                
                    <div class="pull-right" style="padding: 20px;">
                        <a class="btn btn-info br40" href="/submit">投稿</a>
                    </div>
                
                <div class="side-box">
                    <div class="title clearfix">
                        <h3>热门话题</h3>
                        <a class="r more" rel="nofollow" href="/news/cloud" target="_blank">更多</a>
                    </div>
                    <div style="padding-top: 20px;" class="tags">
                        <span><a class="mytag" href="/news/tags/程序员">程序员</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Linux">Linux</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Android">Android</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Java">Java</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/微软">微软</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Google">Google</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/HTML5">HTML5</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/jQuery">jQuery</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/PHP">PHP</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/谷歌">谷歌</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Ubuntu">Ubuntu</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/JavaScript">JavaScript</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Firefox">Firefox</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/开源">开源</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Windows 8">Windows 8</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/iOS">iOS</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Python">Python</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Docker">Docker</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/小米">小米</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Chrome">Chrome</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/编程">编程</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/苹果">苹果</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/jQuery插件">jQuery插件</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Windows 10">Windows 10</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/百度">百度</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/腾讯">腾讯</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/Windows Phone">Windows Phone</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/诺基亚">诺基亚</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/360">360</a></span>&nbsp;
                        <span><a class="mytag" href="/news/tags/黑客">黑客</a></span>&nbsp;
                    </div>
                </div>
                <div class="side-box">
                    <div class="title clearfix">
                        <h3>最新文档</h3>
                        <a class="r more" rel="nofollow" href="http://www.open-open.com/doc/" target="_blank">更多</a>
                    </div>
                    <div>1、<a href="http://www.open-open.com/doc/view/aceccf3bacc94238892847ac0b31c65d" target="_blank">一种低编码复杂度的qc-ldpc码的构造方法.docx</a></div>
                    <div>2、<a href="http://www.open-open.com/doc/view/cb73301acbf0469ba9f601c37fa8226f" target="_blank">手动查杀病毒技术.docx</a></div>
                    <div>3、<a href="http://www.open-open.com/doc/view/41d9b7f251b443a587e2fdedb1f0641f" target="_blank">eira ldpc码的fpga的实现.doc</a></div>
                    <div>4、<a href="http://www.open-open.com/doc/view/6aa6fe4b89434bfa951dca9ae12af03d" target="_blank">突破安全狗.docx</a></div>
                    <div>5、<a href="http://www.open-open.com/doc/view/9acca21639b24719b06a7d7b3c26ac45" target="_blank">音乐网站的设计与实现.docx</a></div>
                    <div>6、<a href="http://www.open-open.com/doc/view/a9b677aa60c7419997c53abb86fcad22" target="_blank">浅谈逻辑漏洞挖掘.docx</a></div>
                    <div>7、<a href="http://www.open-open.com/doc/view/44438b9b318a4d2680decd60717b2e41" target="_blank">metasploit实战讲解.docx</a></div>
                    <div>8、<a href="http://www.open-open.com/doc/view/cd2a7572b6a3464da77d3a6831d8d282" target="_blank">web应用程序安全与风险.docx</a></div>
                    <div>9、<a href="http://www.open-open.com/doc/view/4bcbece04e944ed5bff6a37110062c79" target="_blank">黑客工具解析-信息探测.docx</a></div>
                    <div>10、<a href="http://www.open-open.com/doc/view/0a5d3aec207b4c78869e0a21d1354948" target="_blank">核心防御机制.docx</a></div>
                    <div>11、<a href="http://www.open-open.com/doc/view/ef6baee973b94389841a39abfa00d4d4" target="_blank">web应用程序技术.docx</a></div>
                    <div>12、<a href="http://www.open-open.com/doc/view/a409c0b66f3b4456bf7f4a3a52fddd16" target="_blank">Web入侵先遣—SQL注入攻击技术初探.docx</a></div>
                    <div>13、<a href="http://www.open-open.com/doc/view/a0705917caaf4c51a5fb78e2c11c197c" target="_blank">移动app测试方案.docx</a></div>
                    <div>14、<a href="http://www.open-open.com/doc/view/616a4a9296c8403fb7ce4c0b334582c3" target="_blank">app加固项目方案.docx</a></div>
                    <div>15、<a href="http://www.open-open.com/doc/view/d2fa9eb0ccd44583a1f48848691a083d" target="_blank">移动app测试报告--2016-0328.docx</a></div>
                </div>
                <div class="side-box">
                    <div class="title clearfix">
                        <h3>最新分享经验</h3>
                        <a class="r more" rel="nofollow" href="http://www.open-open.com/lib/" target="_blank">更多</a>
                    </div>
                </div>
                <div class="side-box">
                    <div class="title clearfix">
                        <h3>最新问答</h3>
                        <a class="r more" rel="nofollow" href="http://www.open-open.com/solution/" target="_blank">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mid content -->
    </div>
    <!-- mid content -->
    <style>
    footer {
        background-color: #fff;
        border-top: 1px solid rgba(230, 230, 230, 0.75);
        margin-top: 20px;
        padding: 20px 0;
    }
    </style>
    
    <!--[if lte IE 6]>
    <script type="text/javascript">
    /* <![CDATA[ */
       blankimgpath = '/news/images/blank.gif';
     /* ]]> */
    </script>
    <style type="text/css" media="screen">
      @import "/news/css/ie6.css";
      body{ behavior:url("/news/js/ie6hoverfix.htc"); }
      img{ behavior: url("/news/js/ie6pngfix.htc"); }
    </style>
    <![endif]-->
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="/news/js/view.js"></script>
    <script type="text/javascript" src="/news/js/jquery.jgrowl_minimized.js"></script>
    <script type="text/javascript" src="/news/js/scrolltopcontrolt.js"></script>
    <script type="text/javascript">
    scrolltotop.offset(188, 165);
    scrolltotop.controlHTML('<img src="/news/images/gotop.gif" style="width:35px; height:35px;" />')
    scrolltotop.init();
    </script>
    <script type="text/javascript">
    /* <![CDATA[ */
    jQuery(document).ready(function() {
        // body .safari class
        if (jQuery.browser.safari) jQuery('body').addClass('safari');


        // scroll to top
        jQuery("a#toplink").click(function() {
            jQuery('html, body').animate({
                scrollTop: 0
            }, 'slow');
        });

    });
    var rooturl = '/news';
    /* ]]> */
    </script>
    <script>
    (function() {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
{% end %}