{% extends "../base.html" %} 

{% block head %}
    <!-- // <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->
<!-- 
    <link href="{{ static_url("css/register.css") }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url("css/icon.css") }}" rel="stylesheet" type="text/css" />
 -->
    <script src="http://ximan.github.io/dropload/dist/dropload.min.js"></script>
     <link rel="stylesheet" href="http://ximan.github.io/dropload/dist/dropload.css">

{% end %}

{% block body %}

    <header class="site-header">
        <div class="header-top ">
            <div class="header-top-inner">
                <div class="" style="margin: 0 30px;">
                    <div class="row">
                        <div class="header-top-left col-lg-6 col-md-6 col-sm-6 col-xs-12 v-grid">
                            <div class="header-talet">
                                <a href="/">首页</a> &nbsp;
                                <a title='大杂烩' href="/nosubject">大杂烩</a> &nbsp;
                                <a class="" href="/newcar">新车资讯</a> &nbsp;
								<a title="汽车赛事" class="" href="/">汽车赛事</a> &nbsp;
                                <a class="" href="/newdriver">新手上路</a> &nbsp;                                
								<a title="自驾游" class="" href="/">自驾游</a> &nbsp;                            
                            </div>
                        </div>
                        {% if  current_user %}
                            <div class="header-top-right col-lg-6 col-md-6 col-sm-6 col-xs-12 v-grid">
                                <div class="user-info pull-right" id="Personal">
                                    <a >您好，{{user.user_name}}  &nbsp&nbsp</a>
                                    <a href="/account/logout"><i class="icon icon-logout"></i> 退出</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="header-top-right col-lg-6 col-md-6 col-sm-6 col-xs-12 v-grid">
                                <div class="user-info pull-right" id="Personal">
                                    <a  class="ajaxsignup " href="#">
                                        注册</a> | <a class="ajaxlogin " >登录</a>
                                   
                                </div>
                            </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <p></p>




    <div class="container">
        <div class="row">
            <div class="col-md-9 link " id="readercontainer">
                <ul class="list">
                    {% for link in linkList %}
                        {%  module LinkModule(link, get_time_format) %}
                    {% end %}


                         <div class="content">
                            <div class="lists"></div>
                        </div>
                    
                    
                </ul>

                <!-- 
                <div class="pagination">
                    <p>
                        <span class='pagescurrent'>1</span>
                        {% for pageNum in pageNumList %}
                            <a href='/news?pn={{ pageNum }}' class=1s>{{ pageNum }}</a> 
                        {% end %}

                        
                        
                        <a href='/news/tags/Bootstrap?pn=1'>[下一页]</a> 
                        <a href='/news/tags/Bootstrap?pn=10'>[尾页]</a> 
                    </p>
                </div>
 -->
            </div>
            <div class="col-md-3">
                
                    <div class="pull-right" style="padding: 20px;">
                        <a class="btn btn-info br40" href="/submit">投稿</a>
                    </div>
                
                
            </div>
        </div>
    </div>
   





    <style>
    footer {
        background-color: #fff;
        border-top: 1px solid rgba(230, 230, 230, 0.75);
        margin-top: 20px;
        padding: 20px 0;
    }
    </style>



<script>
$(function(){
    var counter = 0;
    // 每页展示4个
    var num = 4;
    var pageStart = 0,pageEnd = 0;

    // dropload
    $('.content').dropload({
        scrollArea : window,
        loadDownFn : function(me){
            $.ajax({
                type: 'GET',
                url: 'http://ximan.github.io/dropload/examples/json/more.json',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    counter++;
                    pageEnd = num * counter;
                    pageStart = pageEnd - num;

                    for(var i = pageStart; i < pageEnd; i++){
                        result +=   '<a class="item opacity" href="'+data.lists[i].link+'">'
                                        +'<img src="'+data.lists[i].pic+'" alt="">'
                                        +'<h3>'+data.lists[i].title+'</h3>'
                                        +'<span class="date">'+data.lists[i].date+'</span>'
                                    +'</a>';
                        if((i + 1) >= data.lists.length){
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                            break;
                        }
                    }
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('.lists').append(result);
                        // 每次数据加载完，必须重置
                        me.resetload();
                    },1000);
                },
                error: function(xhr, type){
                    alert('Ajax error!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        }
    });
});
</script>



    
    <!--[if lte IE 6]>
    <script type="text/javascript">
    /* <![CDATA[ */
       blankimgpath = '/news/images/blank.gif';
     /* ]]> */
    </script>
    <style type="text/css" media="screen">
      @import "/news/css/ie6.css";
      body{ behavior:url("/news/js/ie6hoverfix.htc"); }
      img{ behavior: url("/news/js/ie6pngfix.htc"); }
    </style>
    <![endif]-->
<!-- 
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="/news/js/view.js"></script>
    <script type="text/javascript" src="/news/js/jquery.jgrowl_minimized.js"></script>
    <script type="text/javascript" src="/news/js/scrolltopcontrolt.js"></script>
 -->
<!-- 
    <script type="text/javascript">
    scrolltotop.offset(188, 165);
    scrolltotop.controlHTML('<img src="/news/images/gotop.gif" style="width:35px; height:35px;" />')
    scrolltotop.init();
    </script>
    <script type="text/javascript">
    /* <![CDATA[ */
    jQuery(document).ready(function() {
        // body .safari class
        if (jQuery.browser.safari) jQuery('body').addClass('safari');


        // scroll to top
        jQuery("a#toplink").click(function() {
            jQuery('html, body').animate({
                scrollTop: 0
            }, 'slow');
        });

    });
    var rooturl = '/news';
    /* ]]> */
    </script>
    <script>
    (function() {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
 -->

{% end %}